accelerate
bitsandbytes
datasets
fsspec>=2023.1.0,<=2025.10.0
diffusers
evaluate
fiftyone
gradio
huggingface-hub
numpy>=2.3.0,<2.4.0
onnxruntime
opencv-python
optuna
peft
pillow>=12.1.0,<13.0.0
polars
pydantic
pytest>=8.0
rembg
rich
safetensors
scikit-learn
sentencepiece
tokenizers
torch
torchvision
torchaudio
tqdm
transformers
uvicorn
wandb
xformers
