accelerate>=0.26,<1.0
bitsandbytes
datasets
diffusers
einops
evaluate
fiftyone
fsspec>=2023.1.0,<2025.4.0
gradio
huggingface-hub>=0.20,<1.0
numpy>=1.26,<2.0
onnxruntime
opencv-python
optuna
peft
pillow>=10.2,<13
polars
pydantic
pytest>=8.0
rembg
rich
safetensors
scikit-learn
scipy>=1.13,<1.15
sentencepiece
timm
tokenizers>=0.20,<1.0
torch>=2.5,<2.6
torchaudio>=2.5,<2.6
torchvision>=0.20,<0.21
tqdm
transformers==4.49.0
uvicorn
wandb
xformers
